# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/



# SQLite databases
*.db

# Logs
*.log

# Shell scripts outputs (opcional)
*.sh~

# VSCode settings (opcional, si usás VSCode)
.vscode/

# Mac OS
.DS_Store

# Python egg info
*.egg-info/
dist/
build/

# Archivos temporales de Render o deploys fallidos
*.sqlite3
*.db-journal

# Entornos virtuales (en caso de otros nombres)
.env/
env/
ENV/

# Archivos de configuración personales
*.env.local
*.env.*.local
.env