# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env

# SQLite databases
*.db

# Logs
*.log

# Shell scripts outputs (opcional)
*.sh~

# VSCode settings (opcional, si usás VSCode)
.vscode/

# Mac OS
.DS_Store

# Python egg info
*.egg-info/
dist/
build/
